.pokemon-card {
  img {
    height: 200px;
    width: 200px;
  }
  border: 1px solid black;
  width: 18vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 5px 10px 15px white, 5px 10px 15px purple;
  border-radius: 20px;
  cursor: pointer;
}
.pokemon-info h2{
  margin-top: 15px;
}
.card-list {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 10px 15px white, 5px 10px 15px purple;
  justify-content: center;
  padding-top: 100px;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  color: white;
}
