.nav {
  width: 90vw;
  margin-top: 25px;
  border: 1px solid black;
  height: 15vh;
  font-size: 30px;
  
border-radius: 20px;
background: linear-gradient(to right, yellow, purple, blue);;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
align-items: center;
}
